@font-face {
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: 400;
    src: url("../../src/font/Montserrat-Regular.woff2") format("woff2"), url("../../src/font/Montserrat-Regular.woff") format("woff"), url("../../src/font/Montserrat-Regular.ttf") format("truetype"), url("../../src/font/Montserrat-Regular.svg#svgFontName") format("svg");
}
@font-face {
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: 700;
    src: url("../../src/font/Montserrat-Bold.woff2") format("woff2"), url("../../src/font/Montserrat-Bold.woff") format("woff"), url("../../src/font/Montserrat-Bold.ttf") format("truetype"), url("../../src/font/Montserrat-Bold.svg#svgFontName") format("svg");
}
@font-face {
    font-family: "Pretendard";
    font-style: "normal";
    font-weight: 400;
    src: url("../../src/font/Pretendard-Regular.woff2") format("woff2"), url("../../src/font/Pretendard-Regular.woff") format("woff"), url("../../src/font/Pretendard-Regular.ttf") format("truetype"), url("../../src/font/Pretendard-Regular.svg#svgFontName") format("svg");
}
@font-face {
    font-family: "Pretendard";
    font-style: "normal";
    font-weight: 700;
    src: url("../../src/font/Pretendard-Bold.woff2") format("woff2"), url("../../src/font/Pretendard-Bold.woff") format("woff"), url("../../src/font/Pretendard-Bold.ttf") format("truetype"), url("../../src/font/Pretendard-Bold.svg#svgFontName") format("svg");
}