@charset 'UTF-8';

@import "_font";
@import "_var";
@import "_mixins";
@import "_base";

// common
body{
    margin:0;
    padding:0;
    font-family:'Montserrat', 'Pretendard';
    width:100%;
    min-width:1440px;
    word-break:keep-all;
    @include font(16px, 400, $white, 1.5);
    @include mobile{
        min-width:auto;
    }
    
    // 스크롤바 전체
    &::-webkit-scrollbar{
        width:4px;
        height:4px;
    }

    // 스크롤바 막대
    &::-webkit-scrollbar-thumb{
        background:rgba(186, 242, 102, 0.5);
        opacity:0.2;
        border-radius:3px;
        &:hover{
            background:$pri;
        }
    }

    // 스크롤바 트랙
    &::-webkit-scrollbar-track{
        background:#333;
        width:4px;
        height:4px;
    }
}

.hidden{
    width:1px;
    height:1px;
    position:absolute;
    margin:-1px;
    overflow:hidden;
    clip:rect(0 0 0 0);
}

// header
.header{
    position:sticky;
    top:0;
    left:0;
    width:100%;
    height:80px;
    padding:0 80px;
    box-sizing:border-box;
    @include flex-row(center, between);
    z-index:10;
    @include mobile{
        // padding:0 20px;
        // height:60px;
        display:none;
    }
    .logo{
        display:inline-block;
        @include font(14px, 400, rgba(255, 255, 255, 0.8), 1.5);
        text-align:center;
        padding: 4px 16px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        position:relative;
        transition:ease-in-out 1s;
        span{
            // 왼쪽 라인
            &::after{
                content:'';
                position:absolute;
                bottom:0;
                left:0;
                width:1px;
                height:0%;
                background:$white;
                transition:ease-in-out 0.5s;
                transition-delay:1.5s;
            }
            // 오른쪽 라인
            &::before{
                content:'';
                position:absolute;
                top:0;
                right:0;
                width:1px;
                height:0%;
                background:$white;
                transition:ease-in-out 0.5s;
                transition-delay:0.5s;
            }
        }
        // top 라인
        &::after{
            content:'';
            position:absolute;
            top:0;
            left:0;
            width:0%;
            height:1px;
            background:$white;
            transition:ease-in-out 0.5s;
        }
        // bottom 라인
        &::before{
            content:'';
            position:absolute;
            bottom:0;
            right:0;
            width:0%;
            height:1px;
            background:$white;
            transition:ease-in-out 0.5s;
            transition-delay:1s;
        }
        &:hover{
            color:$white;
            span{
                // 왼쪽 라인
                &::after{
                    height:100%;
                    transition-delay:0;
                }
                &::before{
                    height:100%;
                }
            }
            &::after{
                width:100%;
            }
            &::before{
                width:100%;
            }
        }
    }
    .year{
        @include font(16px, 400, $white, 1);
        @include mobile{
            @include font(0.875rem, 400, $white, 1);
        }
    }
}

// 컨텐츠
.main_contents{
    width:100%;
    margin-top:-80px;
    @include mobile{
        margin-top:0;
    }
    h2{
        @include hidden;
    }
    .title_h1{
        @include font(68px, 700, $white, 1.2);
        span{
            display:block;
        }
        @include mobile{
            @include font(2rem, 700, $white, 1.5);
        }
    }
    .title_h2{
        @include font(48px, 700, $white, 1.5);
        @include mobile{
            @include font(1.5rem, 700, $white, 1.5);
        }
    }
    > section{
        width:100%;
        min-height:100svh;
        padding:80px;
        box-sizing:border-box;
        background:$black;
        @include mobile{
            padding: 10svh 20px 20px;
            @include flex-column(start, center);
        }
        &.works{
            @include mobile{
                display:block;
            }
        }
    }
    .pin-spacer{
        background:$black;
        overflow:hidden !important;
    }
}

// 인트로
.intro{
    background:#FEFEFE;
    @include flex-row(center, start);
    .title_h1{
        flex:1;
        margin:auto;
        @include mobile{
            margin:0;
            flex:0;
        }
    }
    .right_side{
        flex:1;
        height:calc(100svh - 160px);
        @include flex-column(start);
        @include mobile{
            width:100%;
        }
        .slogan{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            @include font(24px, 400, $white, 1.5);
            @include mobile{
                @include font(1.2rem, 400, $white, 1.5);
                top: 0;
                transform: translate(0, -50%);
                margin-top: 7svh;
            }
        }
        .flex_row{
            width:100%;
            margin-top:auto;
            @include flex-row(start);
            @include mobile{
                @include flex-column(start);
                gap:16px;
            }
            > div{
                flex:1;
                @include mobile{
                    width:100%;
                    @include flex-row(start, start);
                    gap:24px;
                }
            }
            dt{
                @include font(18px, 700, $white, 1.5);
                @include mobile{
                    flex-basis:25%;
                    @include font(1rem, 700, $white, 1.5);
                }
            }
            dd{
                font-size:18px;
                margin-top:16px;
                line-height:32px;
                @include mobile{
                    margin-top:0;
                    @include font(0.875rem, 400, $white, 1.5);
                }
                a{
                    @include font(18px, 400, $white, 32px);
                    @include mobile{
                        @include font(0.875rem, 400, $white, 1.5);
                    }
                }
            }
        }
    }
}

// 소개
.about{
    background:#efefef;
    @include flex-row(start);
    @include mobile{
        //@include flex-column;
        display:block;
        padding:0;
    }
    .left_side{
        flex:1;
        @include mobile{
            box-sizing:border-box;
            @include flex-column(start, start);
        }
    }
    .tag_list{
        margin-top:16px;
        @include flex-row(center, start, wrap){
            gap:8px;
        };
        @include mobile{
            margin-top:16px;
        }
        li{
            padding:8px 12px;
            border-radius:30px;
            border:1px solid $pri;
            @include font(16px, 400, $pri, 1);
            @include mobile{
                @include font(0.875rem, 400, $pri, 1);
                padding:4px 8px;
            }
        }
    }
    .right_side{
        flex:1;
        margin:auto;
        width:100%;
        @include mobile{
            flex:0;
        }
    }
    .design{
        @include mobile{
        }
    }
    .front_end{
        @include mobile{
        }
    }
    .work_style{
        @include mobile{
            box-sizing:border-box;
            margin-top:auto;
        }
    }
}
.stack{
    div{
        + div{
            margin-top:80px;
            @include mobile{
                margin-top:40px;
            }
        }
    }
    dt{
        @include font(32px, 700, $white, 1);
        margin-bottom:32px;
        @include mobile{
            @include font(1rem, 700, $white, 1);
            margin-bottom:16px;
        }
    }
    dd{
        word-break:keep-all;
        @include mobile{
            @include font(1rem, 400, $white, 1);
        }
    }
    &_list{
        > li{
            text-indent:-5px;
            margin-left:10px;
            @include font(18px, 400, $white, 1.5);
            @include mobile{
                @include font(0.875rem, 400, $white, 1.5);
            }
            &::before{
                content:'-';
                display:inline-block;
                margin-right:4px;

            }
            & + li{
                margin-top:12px;
                @include mobile{
                    margin-top:4px;
                }
            }
        }
    }
    &_design_icon{
        margin-top:16px;
        @include flex-row(center, start){
            gap:12px;
        };
        @include mobile{
            gap:8px;
            margin-top:8px;
        }
        li{
            border:1px solid $pri;
            border-radius:6px;
            width: 32px;
            height: 32px;
            text-align: center;
            box-sizing:border-box;
            text-indent:0;
            @include font(16px, 400, $pri, 32px);
            @include mobile{
                width: 24px;
                height: 24px;
                @include font(0.75rem, 400, $pri, 24px);
            }
        }
    }
    &_develop_icon{
        @include flex-row(start, start);
        gap:8px 24px;
        margin-left: 4px;
        margin-top: 8px;
        @include mobile{
            flex-wrap: wrap;
            gap:8px 16px;
        }
        svg{
            width:30px;
            height:30px;
            vertical-align:middle;
            @include mobile{
                width:20px;
                height:20px;
            }
        }
        path{
            stroke:$pri;
        }
        li{
            text-indent:0;
            span{
                margin-left:4px;
                @include font(16px, 400, $pri, 1);
                @include mobile{
                    @include font(0.75rem, 400, $pri, 1);
                }
            }
        }
        .svn_icon{
            border:1px solid $pri;
            padding:4px;
            border-radius:6px;
            font-size:10px;
        }
    }
}
.resume{
    @include flex-row(start);
    .left_side{
        flex:1 0 45%;
    }
    .right_side{
        flex:1 0 55%;
    }
    dl{
        @include flex-row(start, center, wrap){
            gap:40px 80px;
        };
        > div{
            flex:1 0 calc(50% - 40px);
        }
        dt{
            font-weight: 700;
            font-size: 18px;
        }
        dd{
            font-size: 18px;
            margin-top: 16px;
            @include flex-row(center, between, wrap);
            span{
                @include font(14px, 400, $gray02, 1.5);
            }
            .type{
                flex:1;
                margin-left:16px;
            }
            & + dd{
                margin-top:4px;
            }
        }
    }
    ul{
        width:100%;
        li{
            @include flex-row(center, between, wrap);
        }
    }
}

// 작업한 프로젝트
.works{
    padding:0;
    &_list{
        width:100%;
        @include flex-row(start, start);
        gap:40px;
        margin-top:40px;
        @include mobile{
            @include flex-column(center, start);
        }
    }
    &_item{
        width:40vw;
        flex:1 0 auto;
        @include mobile{
            width:100%;
        }
        a{
            display:block;
            width:100%;
            height:100%;
            span{
                transition:ease-in-out 0.3s;
            }
            &:hover{
                span{
                    color:$pri;
                }
                .work_img{
                    color:$black;
                }
            }
        }
    }
    .work_img{
        display: block;
        position:relative;
        width: 100%;
        height: 100%;
        position:relative;
        aspect-ratio:600/350;
        &.ing{
            &::after{
                content:'작업중';
                @include flex-row(center, center);
                position:absolute;
                width:100%;
                height:100%;
                background:rgba(0, 0, 0, 0.7);
                color:#fff;
            }
        }
    }
    .work_name{
        display:block;
        margin-top:24px;
        @include font(18px, 700, $white, 1);
        @include flex-row(center, between);
        @include mobile{
            @include flex-row(start, between);
            gap:8px;
            @include font(0.875rem, 700, $white, 1);
        }
    }
    .work_period{
        @include font(14px, 400, $white, 1);
        opacity:0.7;
        @include mobile{
            @include font(0.75rem, 400, $white, 1);
        }
    }
    .work_keyword{
        @include font(16px, 400, $white, 1);
        @include flex-row(center, start){
            gap:16px;
        };
        @include mobile{
            @include font(0.75rem, 400, $white, 1);
        }
        margin-top:8px;
        span{
            & + span{
                position:relative;
                &::before{
                    content:'';
                    position:absolute;
                    top:50%;
                    left:-8px;
                    width:2px;
                    height:2px;
                    border-radius:50%;
                    background:$white;
                }
            }
        }
    }
    .work_disclaimer{
        @include font(18px, 400, $white, 1);
        margin-top:16px;
        display:block;
    }
    &_thehyundai{
        .work_img{
            background:url("../images/thumb_thehyundai.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            @include mobile{
                background-size:180%;
            }
        }
    }
    &_hyundaimotors_sg{
        .work_img{
            background:url("../images/thumb_hyundaimotors_sg.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            @include mobile{
                background-size:180%;
            }
        }
    }
    &_theamall{
        .work_img{
            background:url("../images/thumb_theamall.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            @include mobile{
                background-size:180%;
            }
        }
    }
    &_wowcns{
        .work_img{
            background:$white;
            @include font(40px, 700, $black, 1.5);
            @include flex-row(center, center)
        }
    }
}

.contact{
    @include flex-column(center, center);
    gap: 40px;
    text-align:center;
    min-height:calc(100svh - 80px) !important;
    @include mobile{
        align-items:center !important;
        min-height:calc(100svh - 68px) !important;
    }
    .contents{
        span{
            display:block;
            @include font(24px, 400, $white, 1.5);
            @include mobile{
                text-align:center;
            }
        }
        .message01{
            @include font(40px, 700, $white, 1.5);
            @include mobile{
                @include font(1.25rem, 700, $white, 1.5);
            }
        }
        .message02{
            @include font(24px, 400, $white, 1.5);
            margin-top:16px;

            @include mobile{
                @include font(1rem, 400, $white, 1.5);
                margin-top:8px;
            }
        }
        .mail{
            @include font(40px, 700, $white, 1.5);
            margin-top:24px;
            @include mobile{
                @include font(1.25rem, 700, $white, 1.5);
                margin-top:16px;
            }
        }
    }

}

// footer
.footer{
    width:100%;
    padding: 16px 0;
    text-align:center;
    background:$black;
    @include font(16px, 400, $white, 1.5);
    @include mobile{
        @include font(0.75rem, 400, $white, 1.5);
    }
}

// 애니메이션
.animation{
    opacity:0;
    &.bottom{
        transform:translate3d(0, 120px, 0);
        transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
        @include mobile{
            transform:translate3d(0, 60px, 0);
        }
    }
    &.is_active{
        opacity:1;
        transform:translate3d(0, 0, 0);
        transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    }
}